<template>
    <div class="row">
        <div class="col-12 card px-0 rounded-left">
            <div class="card-header">
                <h4>Agregar nuevo producto</h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-12">
                        <label for="name">Nombre del producto</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="col-6">
                        <label for="quantity">Cantidad</label>
                        <input type="text" class="form-control" name="qty" id="qty">
                    </div>
                    <div class="col-6">
                        <label for="price">Precio</label>
                        <input type="text" class="form-control" name="price" id="price">
                    </div>
                    <div class="col-12">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                    </div>
                    <div class="col-12 text-right mt-3">
                        <button class="btn btn-primary">Agregar a inventario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
